{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>articles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>

<body>
    <h1>Its articles list</h1>
    <div class="container">
        {% for article in articles %}
        <h2><a href="#">{{article.title}}</a></h2>
        <p>{{article.short}}</p>
        <p>{{article.date}}</p>
        {% endfor %}
    </div>
</body>

</html>